{% extends 'layout.njk' %}

{% block head %}
    <title>分类管理</title>
{% endblock %}

{% block body %}
    {% include "navbar.njk" %}
    <div class="container">
        <h1>分类guanli</h1>
        <p>CCTV Page</p>
    </div>
{% endblock %}