{% extends 'layout.njk' %}

{% block head %}
    <title>分类guanli</title>
{% endblock %}

{% block body %}
    {% include "navbar.njk" %}
    <div class="container">
        <h1>分类</h1>
        <p>CCTV Page</p>
    </div>
{% endblock %}